* {
    padding: 0;
    margin: 0;
}




.top-section {
    height: 80%;
    width: 65%;
    /* border: 1px solid black; */
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    /* background: url(reference_background_images/img7.jpg); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background: url(reference_background_images/img9.jpg);
    /* background:linear-gradient(180deg,rgb(255, 221, 0),rgb(255, 140, 0)); */
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-bar {
    margin-left: 35px;
    margin-top: 30px;
    position: relative;
    /* Ensure .logo-bar is positioned for absolute positioning within */
}

.logo-bar a {
    position: absolute;
    top: 30%;
    left: 6%;
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    color: white;
    text-decoration: none;
}

#logo {
    border-radius: 50px;
}
.social-handles{
    position: absolute;
    left: 78%;
    bottom: 85.6%;
    margin-left: -5px;
}
.fa-github,.fa-linkedin,.fa-instagram{
   
   height: 20px;
   width: 20px;
 
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   border-radius: 20px;
   padding: 3px;
    color: white;
    font-size: 20px;
    margin-left: 15px;
  
}
.fa-linkedin{
    padding-left: 5.5px;
}
.fa-instagram{
    padding-left: 5.5px;
}
.number-section{
    height: 70%;
    width: 80%;
    border-radius: 7px;
    margin: 0 auto;
    margin-top: 60px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#header{
    position: absolute;
    left: 50%;
    top: 19%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
}
.div-container {
    height: 80%;
    width: 90%;
    /* border: 1px solid rgb(255, 255, 255); */
    margin: 0 auto;
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
   /* box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset; */
    
}

.div-container span{
    font-size: 70px;
    font-family: "Playwrite AR", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    color: white;
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 130px;
    position: relative;
   
}
.colon{
    position: relative;
    top: 20px;
    color: white;
}
.div-container span::after{
    font-size: 15px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.minutes,.second,.mili-second {
    height: 150px;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
     rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    float: left;
    /* background-color: rgb(0, 0, 0);     */
    margin-top: 35px;
    
}
.minutes::after{
    content: 'minutes';
}
.second::after{
    content: 'second';
}
.mili-second::after{
    content: 'mili-sec';
}
.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    height: 40px;
    width: 50%;
    margin: 0 auto;
    transform-style:preserve-3d;
    transform: perspective(1000px);
}
.item{
    height: 40px;
    width: 90px;
    border-radius:10px;
    border: none;
    transition: .5s;
    background-color: rgb(255, 255, 255);
    font-weight: 400;
    
    border: 1px solid black;
    color: rgb(0, 0, 0);
    
}
.item:hover{
    border: none;
    transform: translateZ(50px);
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}